body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.menu {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

.menu h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
    font-family: monospace;
}

.menu-item {
    display: flex;
    padding: 15px;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 400px;
    height: 200px;
}

.menu-item:hover {
    background-color: #ededed;
}

.menu-item img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.menu-item h2 {
    margin: 0;
    color: #333;
    font-size: 19px;
    font-family: cursive;
}

.description {
    margin-top: 10px;
    color: #666;
    font-size: 16px;
    text-align: left;
    display: none;
}

.menu-item.active .description {
    display: block;
}


