body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

main {
    padding: 22px;
}

.nav-menu {
    background-color: rgba(56, 18, 190, 0.863);
    color: aliceblue;
    padding: 10px;
    position: relative;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #444;
    display: none; /* Começa oculto */
    position: absolute;
    width: calc(100% - 30px);
    left: 15px;
    top: 60px;
    flex-direction: column;
}

.menu.menu-open {
    display: flex; /* Torna o menu visível quando aberto */
}

.hamburguer-button .icon {
    display: inline-block;
    width: 30px;
    text-align: center;
}

.hamburguer-button[aria-expanded="false"] .icon::before {
    content: "\2630"; /* Três tracinhos */
}

.hamburguer-button[aria-expanded="true"] .icon::before {
    content: "\2715"; /* Cruz */
}

.menu li a {
    color: aliceblue;
    padding: 10px;
    display: block;
    text-decoration: none;
}

.menu li a:hover,
.menu li a:focus {
    background-color: #555;
}

.hamburguer-button {
    background: none;
    border: none;
    color: aliceblue;
    font-size: 24px;
    padding: 14px;
    cursor: pointer;
}

