body {
    font-family: noto;
    margin: 0;
    background-color: #e0dfdf;
}

.nav-menu {
    background-color: rgb(107, 184, 252);
    color: rgb(255, 255, 255);
    padding: 0px;
    position: relative;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);
    display: none; 
    position: absolute;
    width: 33%;
    left: 15px;
    top: 60px;
    flex-direction: column;
    border-radius: 15px;
}

.menu.menu-open {
    display: flex; 
}

.hamburguer-button .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}

.hamburguer-button[aria-expanded="false"] .icon::before {
    content: "\2630"; 
    font-size: 25px;
    color: #000000;
}

.hamburguer-button[aria-expanded="true"] .icon::before {
    content: "\2715"; 
    font-size: 25px;
    color: rgb(0, 0, 0);
}

.menu li a {
    color: rgb(205, 22, 22);
    padding: 10px;
    display: block;
    text-decoration: none;
}

.menu li a:hover,
.menu li a:focus {
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
    left: 5px;
    right: 5px;
}

.hamburguer-button {
    background: none;
    border: none;
    color: rgb(129, 192, 247);
    font-size: 24px;
    padding: 14px;
    cursor: pointer;
}